/* .container{
    height: 400px;
    background-color: rgba(24, 121, 121, 0.712);
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.card-prod {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column; */
  margin: 10px;
  text-align: center;
  font-family: arial;
  /* object-fit: cover; */
}
.p-img {
  object-fit: cover;
  width: 100%;
}
.icon-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.fa-search:hover{
    margin-bottom: 5px;
    color: green;
}